{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
      body {
        background-color: White;
      }
    </style>
    <h1>Welcome to the Reddit_Killer </h1>
    <h4>Your Move, Huffman</h4>
  <body>
    <div class="container">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="{% url 'subreddit_list_view' %}">Home</a></li>
        {% if not request.user.is_authenticated %}
          <li role="presentation"><a href="{% url 'login' %}">Login</a></li>
        {% else %}
        Welcome {{ request.user }},
          <li role="presentation"><a href="{% url 'logout' %}?next={% url 'subreddit_list_view' %}">Logout</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="container">
      {% block content %}
    {% endblock %}
    </div>

  </body>
</html>
